@font-face {
  font-family: 'Spartan';
  src: url("../fonts/Spartan-Bold.woff2") format('woff2'),
       url("../fonts/Spartan-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spartan';
  src: url("./fonts/Spartan-Medium.woff2") format('woff2'),
       url("../fonts/Spartan-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
body{
  font-family:  "Spartan", sans-serif;
}
.site-wrapper{
  width: 1366px;
  margin: auto;

  /* border:1px solid red; */
}
.header{
  width: 100%;
  height: 156px;
  background-image: url(../img/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;

}
.main{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 76px 128px 120px 128px;
  background-color:#EFFAFA;
}
.container{
  width: 1110px;

}
.card{
 width: 100%;
 height: 152px;
 background-color:#fff;
 padding: 32px 40px;
 margin: 0;
 box-shadow: 0px 15px 20px -5px #0D718226;
 margin-bottom: 24px;
 border-radius:5px;
 border-left: inset 5px;
}

.card-container{
  display: flex;
  justify-content: space-between;
  align-items:center;
  width: 1030px;
  height: 88px;

}
.card-active{
  width: 1110px;
  height: 72px;
  background-color:#fff;
  box-shadow: 0px 15px 20px -5px #0D718226;
  margin-bottom: 24px;
  border-radius:5px;
  border-left: inset 5px;
  padding: 20px 40px;
  position: absolute;
  top: -40px;
  display: none;

}
.card-active-class{
  display: block;

}
.card-container-active{
  display: flex;
  align-items:center;
  width: 100%;
  height:auto;
}



.left-job-part{
  display: flex;
  justify-content: space-between;
}
.logo-images{
  width: 88px;
  height: 88px;
  margin-right: 24px;
}
.about-company{
  display: flex;
}
.name-company{
  font-size: 14px;
  line-height: 15px;
  font-weight: 700;
  color:#5CA5A5;
  margin: 4px 0px;

}
.new{
  width: 51px;
  height: 24px;
  font-size: 11px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: -0.08px;
  background-color:#5CA5A5;
  border-radius: 40px;
  color:#fff;
  padding: 6px 8px 4px;
  margin-left: 16px;

}
.featured{
  width: 79px;
  height: 24px;
  font-size: 11px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: -0.08px;
  background-color:#2B3939;
  border-radius: 40px;
  color:#fff;
  padding: 6px 8px 4px;
  margin-left: 8px;
}
.title-job{
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color:#2B3939;
  margin-top: 8px;
}
.about-work-time{
  margin-top: 8px;
  position: relative;

}
.date{
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.12px;
  color:#7C8F8F;
  margin-right: 16px;

}
.date:after{
  content:'';
  width: 4px;
  height: 4px;
  background-color:#B7C4C4;
  position: absolute;
  top:10px;
  left: 65px;
  border-radius:50%;
}
.time{
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.12px;
  color:#7C8F8F;
  margin-left: 16px;
  position: relative;


}
.time:after{
  content:'';
  width: 4px;
  height: 4px;
  background-color:#B7C4C4;
  position: absolute;
  top:40%;
  right:-20px;
  border-radius:50%;

}
.country{
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.12px;
  color:#7C8F8F;
  margin-left: 32px;
  position: relative;
}

.job-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: relative; */

}
.job-item{
  padding: 4px 8px;
  background-color:#EFFAFA;
  list-style: none;
  border-radius:5px;
  display: block;

}
.job-item:not(:last-child){
  margin-right: 16px;
}
.job-link{
  font-size: 13px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -0.1px;
  color:#5CA5A5;
  text-decoration: none;
}
.clear-link{
  font-size: 13px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -0.1px;
  color:#5CA5A5;
  }

.material-icons{
 display: flex;
 background-color:#5CA5A5;
 color:#fff;
 font-size: 32px;
 margin-right: 16px;
 border-top-right-radius: 5px;
 border-bottom-right-radius: 5px;

}
.material-icons:hover{
  background-color:#2B3939;
}
.job-item-active{
  border-bottom-right-radius:0px;
  border-top-right-radius:0px;
}

.job-item-active:not(:last-child){
  margin: 0;
}
.link-icons{
  text-decoration: none;
}